.header1 {
    background-color: #73C6B6;
    width: auto;
    margin: 0;
}

.box1 {
    background-color: #F2F3F4;
    width: auto;
    margin-top: 0;
}

.box2 {
    background-color: #F2F3F4;
    width: auto;
    margin-top: 0;
}

.custom-button {
    background-color: #D1F2EB;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.img-dog {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.img-dog:hover {
    transform: scale(1.05);
}
