.header1 {
    background-color: #73C6B6;
    width: auto;
    margin: 0;
}

.box1 {
    background-color: #F2F3F4;
    width: auto;
    margin: 0;
}

.box2 {
    background-color: #F2F3F4;
    width: auto;
    margin-top: 0;
}

.custom-button {
    background-color: #D1F2EB;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2980b9;
}

.custom-card-deck {
    background-color: blue;
}

.card-deck {
    background-color: red;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.card-dog {
    min-width: 200px;
    min-height: 200px;
    border:2px solid green;
    border-radius: 10px;
    background-size: cover;
}
